.searchContainer {
	background-color: lightskyblue;
	text-align: center;
	line-height: 20px;
	padding: 10px;
}

.searchContainer,
input {
	width: 75%;
}

.shopContainer {
	display: grid;
	grid-template-columns: 3fr 1fr;
}

.productContainer {
	border-right: 3px solid lightgray;
}
